<h1>Home Page</h1>

<div class="map-container">
  <h1>SpotLight Map</h1>

  <div id="map" data-controller="map" data-mapbox-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>">
    <p>Chargement de la carte</p>
  </div>
</div>
